<table id="users" class="display" data-source="<%= users_path(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Phone_number</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

